<section class="project-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <%= link_to 'new', new_tool_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'project-link'} %>
        <%= render 'backend/tools/languages', languages: @languages %>
      </div>
    </div>
  </div>
</section>