<%= form_with(model: @project, url: create_project_path) do |form| %>
  <div class="modal-header">
    <h5 class="modal-title">Creating a new project</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Friendly Name (display name):</label><span class="font-red">*</span>
      <%= form.text_field :friendly_name, class: 'form-control', placeholder: 'lynnecampbell.co.uk', required: true %>
    </div>

    <div class="form-group">
      <label>URL:</label><span class="font-red">*</span>
      <%= form.text_field :url, class: 'form-control', placeholder: 'https://lynnecampbell.co.uk', required: true %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'submit', class: 'focused-button' %>
    <button type="button" class="focused-button-danger" data-dismiss="modal">cancel</button>
  </div>
<% end %>