<section class="project-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <%= render 'frontend/tools/languages', languages: @languages %>
        <%= render 'frontend/tools/tools', applications: @applications %>
      </div>
    </div>
  </div>
</section>