<section class="project-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <h4 class="project-title">Toolkit</h4>

        <hr>

        <span class="tools">
          <% @tools.each do |language|%>
            <%= badge_for(language) %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</section>