
<section class="portfolio-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <a href="http://lynnecampbell.co.uk" class="project-link">lynnecampbell.co.uk</a>
        <a href="" class="project-link">quaybooks.nq</a>
        <a href="" class="project-link">skmichellelectrical.co.uk</a>
      </div>
    </div>
  </div>
</div>