<section class="project-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <h4 class="project-title">Finished Projects</h4>
        <hr>
        <% @projects.each do |project| %>
          <%= link_to project.friendly_name, project.url, class: 'project-link' %>
        <% end %>
      </div>
    </div>
  </div>
</section>