<footer>
	<div class="footer-links">
		<%= link_to 'PROJECTS', project_path, class: active_link?('projects') %>
		<small>/</small>

		<%= link_to 'HOME', root_path, class: active_home? %>
		<small>/</small>

		<%= link_to 'EDUCATION', education_path, class: active_link?('education') %>
		<small>/</small>

		<%= link_to 'TOOLS', tools_path, class: active_link?('tools') %>
	</div>
</footer>