@import 'variables';

@media (prefers-color-scheme: dark) {

  body,
  footer,
  .intro-section:after,
  .intro {
    background-color: $darkmode-background;
  }

  .name,
  .heading,
  h4,
  h5,
  p,
  body {
    color: white;
  }

  hr {
    border-color: #404040;
  }

  .intro-section {
    background-image: image_url("darkmode-background");
  }

  .badge-danger {
    background-color: #b96161;
  }

  .badge-success {
    background-color: #418d52;
  }

  .badge-warning {
    background-color: #cbaa46;
  }

  .badge-info {
    background-color: #4d8c96;
  }

  .badge-dark {
    background-color: #606468;
  }

  .or {
    color: white;
  }

  .modal-content,
  .form-control {
    background-color: $darkmode-background;
    color: white;
  }

  @media (min-width: 320px) and (max-width: 1025px) {
    .intro-section {
      background-image: none;
    }
  }
}