/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
  /* ---------------------------------
	4. INTRO SECTION
	--------------------------------- */

  .intro-section {
    padding-top: 50px;
  }
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

  p {
    line-height: 1.4;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  /* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

  .section {
    padding: 50px 0 0px;
  }

  .section .heading {
    margin-bottom: 30px;
  }

  /* ---------------------------------
	4. INTRO SECTION
	--------------------------------- */

  .intro-section {
    padding-top: 50px;
  }

  /* ---------------------------------
	5. PORFOLIO SECTION
	--------------------------------- */

  .project-section {
    padding-bottom: 0;
  }

  .project-section .projectFilter {
    margin: 0px 0 10px;
  }

  .project-section .projectContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .project-section .p-item {
    width: 50%;
    padding: 0 15px 0px;
  }

  .project-section .p-item {
    max-width: 400px;
  }

  /* ---------------------------------
	8. EDUCATION SECTION
	--------------------------------- */

  .education-wrapper:after,
  .education-wrapper .education:after {
    display: none;
  }
}

/* Screens Resolution : 575px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }

  .project-section .p-item {
    width: 100%;
  }
}

@media only screen and (max-width: 260px) {
  .intro {
    padding: 20px 10px 0;
    margin-right: -15px;
    margin-left: -15px;
  }
}
