@import "bootstrap";
@import "ionicons";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$campbell-blue: #01afff;
$campbell-lightblue: #8fd8ff;

$campbell-red: #ff0101;
$campbell-lightred: #fa9e9e;

$campbell-silver: #c0c0c0;
