@import "bootstrap";
@import "ionicons";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$campbell-blue: #01afff;
$campbell-lightblue: #8fd8ff;
$campbell-silver: #c0c0c0;
