<section class="project-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <h4 class="project-title">A complete history of campbell.me</h4>
        <% @images.each do |image| %>
          <h3><%= image.name %></h3>
          <%= image_tag(image.image.url) %>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</section>
