<section class="project-section section">
  <div class="container">
    <div class="row">
      <div class="project-links">
        <h3><%= @gallary.name %></h3>
        <p><%= @gallary.description %></p>
        <hr>
        <%= image_tag(@gallary.image.url) %>
      </div>
    </div>
  </div>
</section>
